<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="Sites" value="BUILDINGBLOC,UK,IE" />-->
    <add key="Sites" value="UK,IE,TEST,BPPE_UK" />
  </appSettings>
  <connectionStrings>
    <!--<add connectionString="Persist Security Info=False;Integrated Security=False;Server=BLOC-SQL;initial catalog=FOURDSBLINDS;user id=sa;password=Welcome2;" name="PRODSYS" providerName="System.Data.SqlClient" />-->
    <add connectionString="Persist Security Info=False;Integrated Security=False;Server=192.168.44.3;initial catalog=FOURDSBLINDS;user id=sa;password=Welcome2;" name="PRODSYS" providerName="System.Data.SqlClient" />
    <add connectionString="Persist Security Info=False;Integrated Security=False;Server=DEV-HUW\SQLEXPRESS;initial catalog=BuildingBlocUK;user id=sa;password=Welcome2;" name="BUILDINGBLOC" providerName="System.Data.SqlClient" />
    <add connectionString="Persist Security Info=False;Integrated Security=False;Server=109.228.50.37;initial catalog=BuildingBlocUK;user id=sa;password=Welcome2Bloc;" name="UK" providerName="System.Data.SqlClient" />
    <add connectionString="Persist Security Info=False;Integrated Security=False;Server=109.228.50.37;initial catalog=BuildingBlocIE;user id=sa;password=Welcome2Bloc;" name="IE" providerName="System.Data.SqlClient" />
    <add connectionString="Persist Security Info=False;Integrated Security=False;Server=109.228.50.37;initial catalog=BuildingBlocTest;user id=sa;password=Welcome2Bloc;" name="TEST" providerName="System.Data.SqlClient" />
    <add connectionString="Persist Security Info=False;Integrated Security=False;Server=109.228.50.37;initial catalog=BlocFaceShield;user id=sa;password=Welcome2Bloc;" name="BFSUK" providerName="System.Data.SqlClient"/>
    <add connectionString="Persist Security Info=False;Integrated Security=False;Server=109.228.50.37;initial catalog=BlocPPE_UK;user id=sa;password=Welcome2Bloc;" name="BPPE_UK" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>